body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background: linear-gradient(90deg,rgb(107, 107, 255), rgb(255, 129, 26));

}
.container{
    background-color:white;
    min-height: 30vw;
    align-items: center;
    width: 20%;
    margin: 0 auto;
    margin-top:30px;
    border-radius: 10px 10px 10px 10px;

}

.app-header{
    display: flex;
    background-color: lightgrey;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    height: 10%;
    justify-content: center;
    
}
.body-holder{
    background-color: black;
    opacity: 0.8;
    padding-bottom: 30px;
}
.image-holder img{
    display: flex;
    justify-content: center;
    padding: 50px 0px 20px 0px;
    margin: 0 auto;
    width: 150px;
    
}

.degree p{
    display: flex;
    font-size: 4rem;
    justify-content: center;
    color: white;
    margin: 0;
}
.weather-description p{
    font-size: 2rem;
    color: rgb(255, 80, 80);
}
#country{
    color: white;
    font-size: 1.5rem;
}
