body{
    margin: 0;
    background: linear-gradient(90deg,rgb(107, 107, 255), rgb(255, 129, 26));

}
.container{
    background-color:white;
    min-height: 40vw;
    width: 40%;
    margin: 0 auto;
    margin-top:20px;
    border-radius: 10px 10px 10px 10px;

}

.app-header{
    display: flex;
    background-color: lightgrey;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    height: 10%;
    justify-content: center;
    
}
.body-holder{
    background-color: black;
    height: 300px;
}
.image-holder{
    display: flex;
    justify-content: center;
    padding: 50px;
}
.image-hoder img{
    height: 10px;
    width: 10px;
}
.degree h1{
    display: flex;
    justify-content: center;
    color: white;
    margin: 0;
}
